@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');
html {
  font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #FAF3EE;
    margin: 0;

  }

  /*Sidebar*/
  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgba(176, 222, 220, 0.274);
    overflow-x: hidden;
    padding-top: 20px;
  }

  .sidenav ul {
    padding-top: 15px;
  }

  .sidenav li {
    list-style-type: none;
    margin: 0 0 15px 0;
  }
  
  .sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #4d4d4d;
    display: block;
  }
  
  .sidenav a:hover {
    color: #af9675;
  }
  .logo-wedding-ring {
    width: 100%;
    padding-top: 100px;

  }

  /*Main*/

  .main {
    margin-left: 250px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
  }

   /*Header*/

  header {
    padding: 0;
    margin: 0;
    height: 370px;
    background-image: url("../images/header7.jpg");
    background-size: cover;
  }

  header h1 {
    color: white;
    margin: 0;
    text-align: center;
    padding-top: 10rem;
    /*text-shadow: 2px 2px #142523;*/
    font-family: 'Zen Kaku Gothic Antique';
    font-weight: 800;
  }

  .main-text {
    margin: 4rem auto auto 4rem;
    font-family: 'Zen Kaku Gothic Antique';
    font-size: 2rem;
    color: #4d4d4d;
  }

  .main-text h2 {
    padding: 0;
    margin: 0;
  }

  .first-paragraph {
    padding: 0 0 20px 0;
    margin: 0;
  }

  /*Cards*/
  .card-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center space-evenly;
    gap: 10px;
    padding-bottom: 20px;
  }
  .card-parent > * {
    flex-grow: 1;
    flex-basis: 25%;
    margin: 0;
    border: solid #a5a5a5 1px;
    border-radius: 1rem;
    color: rgb(48, 48, 48);
  }

  .card p {
    padding: 0;
    margin: 0;
    font-size: 90%;
  }

  .card h2 {
    font-weight: 600;
    font-size: 2.2rem;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .card img {
    width: 100%;
  }
  

  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}



  }
  